<div id="<%= dom_id visual_signal %>">
  <div class="bg-white p-2 mb-2 rounded shadow">
    <h4 class="font-bold"><%= visual_signal.title %></h4>
    <p><%= visual_signal.description %></p>
  </div>
</div>
