<div id="<%= dom_id delivery_point %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= delivery_point.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Board:</strong>
    <%= delivery_point.board_id %>
  </p>

</div>
