<div id="<%= dom_id work_in_progress_limit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Limit:</strong>
    <%= work_in_progress_limit.limit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Column:</strong>
    <%= work_in_progress_limit.column_id %>
  </p>

</div>
