<div id="<%= dom_id commitment_point %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= commitment_point.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Board:</strong>
    <%= commitment_point.board_id %>
  </p>

</div>
